{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/produitCorrection.css') }}">
{% endblock %}

{% block main %}
    <div class="produit-wrapper">
    {% for item in produits %}
        <div class="col">
            <a href="{{ path('produit_details', {'id': item.id }) }}" class="card">
{#            <a href="{{ path('produit_details') }}/{{ item.id }}" class="card">#}
                <img src="{{ item.image }}">
                <h4>{{ item.nom | upper }}</h4>
                <p>
                    <span class="{{ item.promotion != null ? 'barre' : '' }}">{{ item.prix }}€</span>
                    {% if item.promotion != null %}
                        <span>{{ (item.prix - (item.promotion * item.prix / 100))|number_format(2) }}€</span>
                    {% endif %}
                </p>
            </a>
        </div>

    {% endfor %}
    </div>
{% endblock %}
