{% extends 'base.html.twig' %}

{% block title %}
    Variables
{% endblock %}

{% block main %}
    <h2>String</h2>
    <p>Affichage simple: {{ chaine }}</p>
    <p>Affichage en minuscule: {{ chaine|lower }}</p>
    <p>Affichage en majuscule: {{ chaine|upper }}</p>
    <p>Affichage en titre: {{ chaine|title }}</p>
    <h2>Nombre</h2>
    <p>Affichage simple: {{ nombre }}</p>
    <p>Affichage arrondi: {{ nombre|number_format(2,',') }}</p>
    <h2>Date</h2>
    <p>Format: {{ date|date('d/m/Y H:i:s') }}</p>
    <h2>Bool</h2>
    <p>Affichage simple: {{ isConnected }} (jamais utilisé)</p>
    {% if isConnected %}
        <p>L'utilisateur est connecté</p>
    {% else %}
        <p>L'utilisateur n'est pas connecté</p>
    {% endif %}
    <p>Ternaire: {{ isConnected ? 'OK' : 'KO' }}</p>
    <input type="checkbox" {{ isConnected ? 'checked' : '' }}>
    <h2>Boucles</h2>
    <ul>
    {% for item in tableau %}
        <li>
            <span class="{{ loop.first ? 'bold' : '' }}">{{ item|upper }}</span>
            <span> indice: {{ loop.index }}</span>
            <span> indice commençant par 0 : {{ loop.index0 }}</span>
        </li>
    {% endfor %}
    </ul>
    <p>{{ tableau|length }} élément(s)</p>

    <h2>{{ produit.nom }}</h2>{# <?php echo $produit->getNom() ?>#}
    <img src="{{ produit.image }}">
    <p>Prix: {{ produit.prix }}€</p>

{% endblock %}

{# commentaire #}
{# {% fait qq chose %} #}
{# {{ affiche qq chose }} #}

