{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/produit.css') }}">
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            {% for item in produits %}
                <div class="col">
                    <div class="card">
                        <div class="card-top">
                            <img src="{{ item.image }}">
                        </div>
                        <div class="card-content">
                            <h4 class="title">{{ item.nom | upper }}</h4>
                            <p class="price">
                                <span class="{{ item.promotion != null ? '' : 'barre' }}">{{ item.prix }}€</span>
                            {% if item.promotion != null %}
                                <span class="red">{{ item.prixAvecPromo }}€</span>
                            {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
