* { box-sizing: border-box; }
body { margin: 0 }
nav { box-shadow: 2px 0 2px 2px #888 }
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    height: 75px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    position: relative;
}

nav ul li a:hover {
    transition: all 0.3s linear;
    color: orange;
}

nav ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #333;
    transition: all 0.3s cubic-bezier(.39,1.42,1,1.42);
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
    border-bottom: 2px solid orange;
}

main {
    padding: 20px;
}

.bold {
    font-weight: bold;
}
