.container {
    width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 25%;
    padding: 10px;
}

.card {
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
}

.card > .card-top {
    width: 100%;
    padding: 10px;
}

.card > .card-top > img {
    width: 100%;
    object-fit: cover;
}

.card > .card-content {
    padding: 10px;
}

.barre {
    text-decoration: line-through;
}

.red {
    color: red;
}