.produit-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.produit-wrapper > .col {
    width: 25%;
    padding: 20px;
}

.produit-wrapper > .col > .card {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: #333333;
    transition: all 0.3s ease;
}

.produit-wrapper > .col > .card:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
}

.produit-wrapper > .col > .card > img {
    width: 100%;
}

.produit-wrapper > .col > .card > p > span:nth-child(2) {
    color: red;
}

.barre {
    text-decoration: line-through;
}