<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% block css %}{% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ path('default_index') }}">Home</a></li>
                <li><a href="{{ path('default_contact') }}">Contact</a></li>
                <li><a href="{{ path('produit_correction') }}">Correction Produits</a></li>
                <li><a href="{{ path('produit_index') }}">Produits</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>

        <main>{% block main %}{% endblock %}</main>

        <footer>Footer</footer>

        {% block js %}{% endblock %}
    </body>
</html>
